@import 'styles/settings.scss';

.c-join-chat-page {
  width: 100dvw;
  height: 100dvh;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: $secondary-color;

  @media only screen and (max-width: $breakpoint-m) {
    flex-direction: column;

    overflow: hidden;
  }

  &__container {
    padding: $space-m;
    width: 50%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    color: $white;
    background-color: $primary-color;

    &--white {
      color: $primary-color;
      background-color: $white;
    }

    @media only screen and (max-width: $breakpoint-m) {
      width: 100%;
    }
  }

  &__title {
    font-size: $fs-xlarge;
    font-weight: $fw-bold;
    font-family: $logo-family;

    padding: $space-s;
    margin-bottom: $space-l;
  }
}
