@import 'styles/settings.scss';

.c-chat-page {
  display: flex;
  flex-direction: column;
  background-color: $secondary-color;
  padding: $space-s;
  height: 100dvh;
  overflow: hidden;

  &__chat-container {
    width: 100%;
    height: 90dvh;
    max-height: 90dvh;
    padding: $space-s;

    overflow: scroll;
  }

  &__user-actions {
    height: 10dvh;

    display: flex;
    justify-content: space-between;
    align-items: center;
    filter: drop-shadow(2px 2px 2px $gray);

    background-color: $white;
    border-radius: $space-s;
    margin: 0 $space-s;
  }
}
