@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&family=Roboto:wght@100;300;500&display=swap');

// Colors
$primary-color: #0b409c;
$secondary-color: #e8effc;
$white: #fff;
$gray: #ededed;

// Font sizes
$fs-xxsmall: 10px;
$fs-xsmall: 12px;
$fs-small: 14px;
$fs-base: 16px;
$fs-medium: 18px;
$fs-large: 20px;
$fs-xlarge: 32px;
$fs-xxlarge: 42px;

// Font weight
$fw-thin: 300;
$fw-base: 400;
$fw-semi-bold: 600;
$fw-bold: 700;

// Spacings
$space-xs: 0.25rem; // 4px
$space-s: 0.5rem; // 8px
$space-m: 1rem; // 16px
$space-l: 1.25rem; // 20px
$space-xl: 1.5rem; // 24px
$space-xxl: 2rem; //32px

$base-family: 'Roboto', sans-serif;
$logo-family: 'Protest Riot', sans-serif;
